<div class="col-sm-8 mb-3 mb-md-0">
 <div class="card text-white bg-dark mb-3">
	 <h5 class="card-header h5">Edit profile</h5>
	  <div class="card-body">
		  <%= simple_form_for @profile  do |f| %>

			  <%= f.input :first_name %>
			  <%= f.input :last_name %>
			  <%= f.input :phone_number %>
			  <%= f.input :company %>
			  <%= f.button :submit, 'Save', class: "btn btn-large btn-success" %>
		 <% end %>
		</div>	
  </div>
</div>
