<div class="row">
  <div class="col-md-4 static">
    <div class="profile-card">
      <%= image_tag("avatar1.png", class: "profile-photo") %>
    	<h5><a href="#" class="text-white"><%= first_name %></a></h5>
    	<a href="#" class="text-white"><i class="fa fa-user"></i> <%= current_user.email %></a>
    </div><!--profile card ends-->
    <ul class="nav-news-feed">
      <li><i class="fa fa-list-alt icon1"></i><div><%= link_to 'Edit profile', edit_profile_path %></div></li>
      <li><i class="fa fa-users icon2"></i><div><%= link_to 'Manage Address', new_order_path %></div></li>
      <li><i class="fa fa-user icon3"></i><div><a href="#">Order details</a></div></li>
      <li><i class="fa fa-comments icon4"></i><div><a href="#">cart details</a></div></li>
    </ul><!--news-feed links ends-->
  </div>
</div>
