<div class="nested-fields">
	<%= form_for @order do |f| %>
	  <%= f.hidden_field :profile_id, :value => current_user.profile.id %>
	  <div>
		  <div id="addresses">
		    <%= f.fields_for :addresses do |address| %>
			    <%= render 'address_fields', f: address %>
		    <% end %>
		    <% unless @order.present? %>
			    <div class="links">
				<%#= link_to_add_association 'add address', f, :addresses %>
			    </div> 
			  <% end%>  
		  </div>
	  </div>
	  <%= f.submit %>
	<% end %>
</div>