<main class="mt-5 pt-4">
  <div class="container wow fadeIn">
    <div class="row ">
      <div class="col-sm-8 mb-3 mb-md-0">
        <div class="card">
          <h5 class="card-header h5">Addresses</h5>
            <div class="row">
              <div class="col-sm-12">
                <% if @addresses.present? %>
                  <ul class="list-group mb-3 z-depth-1">
                    <%  @addresses.each do |address| %>
                      <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div> 
                          <h6 class="my-0">
                            <%= address.city %> 
                            <%= address.pincode %>
                            <%= address.street_address %>
                          </h6>
                          <small class="text-muted">
                            <%= address.state.name if address.state %>
                          </small>
                          <div id = 'edit-form'></div>
                          <div id="outer">
                            <div class="inner">
                              <%= button_to "Edit", edit_order_path(address.order.id), params: { address: address.id } , :method => "get" , remote: true %>
                            </div>
                            <div class="inner"> 
                              <%= button_to 'Destroy', order_path(address.order.id),
                              data: {:confirm => 'Are you sure?'}, :method => :delete %>
                            </div>
                          </div>  <!-- outer -->
                        </div>
                        <span class="text-muted">
                          <% if address.default? %>
                            <%= button_to "Add preffered address", address_preferred_path(address), :method => "post", remote: true, :disabled => true%>
                          <% else %>
                            <%= button_to "Add preffered address", address_preferred_path(address), :method => "post", remote: true %>
                          <% end %>
                        </span>
                      </li>
                    <% end %>
                  </ul>
                <% end %>  
                  <div id="address"></div>
                  <%= link_to 'Add new Address', add_address_path,  class: "btn btn-large btn-success", id: "set-margin", remote: true  %>
              </div> <!--col-sm-12-->
            </div><!--Grid row-->
              
            <% if before_checkout &&  check_preffered_address %>
              <%= button_to "Continue to checkout", new_transaction_path, :method => "get" %>
            <% elsif before_checkout  && !check_preffered_address %>
                <div class="alert alert-warning" role="alert">
                  Please add your address and select preffered, After that you can do checkout.
                </div>
            <% else %>  
               <div class="alert alert-warning" role="alert">
                  Please add your address details.
                </div>   
            <% end %>
          </div> <!--card-->
        </div> <!--col-sm-8 mb-3 mb-md-0-->
       <%= render partial: "line_items" %> 
    </div>  <!-- row -->
  </div>  <!-- container -->
</main>
  <!--Main layout-->