<div class="card text-center">
  <div class="card-header">
    Order summary
  </div>
</div>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  	<% @orders.each do |order| %>
    <tr>
    	<% order.line_items.each do |item| %>
      <th scope="row">1</th>
      <td><%= item.product.name %></td>
      <td><%= item.quantity %></td>
      <td><%= item.product.price %></td>

    </tr>
      <% end %> 
   <% end %> 
  </tbody>
</table>


<div class="card text-center">
  <div class="card-header">
    Total Amount
  </div>
  <div class="card-body">
    <h5 class="card-title">Sub total: <%= number_to_currency(@current_cart.sub_total) %></h5>
    <p class="card-text"> <%= button_to "Payment options", new_transaction_path , method: :get,  :class => "btn btn-primary" %></p>

  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
