<div class="row">
  <% @cart.line_items.each do |line_item| %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
       <%= image_tag(line_item.product.avatar.variant(resize_to_fit: [100, 100]), :class => "") rescue image_tag 'http://placehold.it/250x250'%>
          <h5>Item: <%= line_item.product.name %></h5>
          <p class="card-text">Price: <%= number_to_currency(line_item.product.price) %></p>

             <div id ='line-item<%=line_item.id%>'><p class="card-text">Quantity: <%=line_item.quantity %> </div>
            <%= link_to "Add one (+1)", line_item_add_path(:id => line_item),remote: true,  method: :post %>
            <%= link_to "Reduce one (-1)", line_item_reduce_path(:id => line_item),remote: true, method: :post %>
           </p>
            <%= button_to "Remove item", line_item_path(line_item), method: :delete, :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

</br>
<div class="card text-center">
  <div class="card-header">
    Total Amount
  </div>
  <div class="card-body">
    <h5 class="card-title">Sub total: <%= number_to_currency(@cart.sub_total) %></h5>
    <p class="card-text"> <%= button_to "Proceed to checkout", new_order_path , method: :get,  :class => "btn btn-primary" %> <%=link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"} %></p>

  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
