<section>
  <div class="row"> <!--Grid row-->
    <div class="col-lg-8"> <!--Grid column--> 
      <div class="mb-3">
        <div class="pt-4 wish-list">
          <h5 class="mb-4">Cart (<span> <%=@cart.total_item %>  </span> items)</h5>
          <% @cart.line_items.each do |line_item| %>
          <div class="row mb-4">
            <div class="col-md-5 col-lg-3 col-xl-3">
              <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                <%= link_to image_tag(line_item.product.avatar.variant(resize_to_limit: [100, 250]), border: 0), product_path(line_item.product), class: '' rescue asset_path( '150x250.png' ) %>
              </div>
            </div>
            <div class="col-md-7 col-lg-9 col-xl-9">
              <div>
                <div class="d-flex justify-content-between">
                  <div>
                    <h5><%= line_item.product.name %></h5>
                    <p class="mb-3 text-muted text-uppercase small">Price: ₹<%= line_item.product.price %></p>
                    <p class="mb-3 text-muted text-uppercase small">Size: M</p>
                    <p class="mb-2 text-muted text-uppercase small"> <%= link_to "Remove item", line_item_path(line_item), method: :delete %></p>
                  </div>
                  <div>
                    <div class="def-number-input number-input safari_only mb-0 w-100">
                       <div id ='line-item<%=line_item.id%>'><p class="card-text">Quantity: <%=line_item.quantity %></p> </div>
                        <%= link_to "Add one (+1)", line_item_add_path(:id => line_item),remote: true,  method: :post %>
                        <%= link_to "Reduce one (-1)", line_item_reduce_path(:id => line_item),remote: true, method: :post %>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <hr class="mb-4">
        <% end %>
        </div>
      </div><!-- mb-3-->
          <p class="text-primary mb-0"><i class="fas fa-info-circle mr-1"></i> Do not delay the purchase, adding items to your cart does not mean booking them.</p>
      <!-- Card -->
      <div class="mb-3">
        <div class="pt-4">
          <h5 class="mb-4">Expected shipping delivery</h5>
          <p class="mb-0"> Thu., 12.03. - Mon., 16.03.</p>
        </div>
      </div> <!-- mb-3 -->
      
      <div class="mb-3">
        <div class="pt-4">
          <h5 class="mb-4">We accept</h5>
          <%= image_tag('visa.svg', :width => '45px', class: "mr-2") %>
          <%= image_tag('amex.svg', :width => '45px', class: "mr-2") %>
          <%= image_tag('mastercard.svg', :width => '45px', class: "mr-2") %>
          <%= image_tag('paypal.png', :width => '45px', class: "mr-2") %>
        </div>
      </div> <!-- mb-3 -->

    </div> <!--Grid column-->


    <!--Grid column-->
      <%= render partial: "payment_details" %> 
    <!--Grid column-->
  </div>   <!-- Grid row -->
</section><!--Section: Block Content-->
