<div class="row">
  <div class="col-sm-7 mb-3 mb-md-0">
    <div class="card">
      <h5 class="card-header h5">Select your payment option</h5>
           <div class="col-sm-12">
              <%= form_tag("/transactions", method: "post", id: "payment-form") do %>
                <section>
                  <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                  </div>
                </section>
                <input type="hidden" id="nonce" name="payment_method_nonce" />
                <button class="button" class="btn btn-primary btn-block" type="submit"><span>Proceed to checkout</span></button>
              <% end %>
            </div>
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
          <!-- Cart -->
            <%= render partial: "carts/payment_details" %>


              <ul class="list-group mb-3 z-depth-1">
                <h5> Delivery address </h4>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div> 
                    <h6 class="my-0"><%= preffered_address.first.city %> 
                             <%= preffered_address.first.pincode %> <%= preffered_address.first.street_address %></h6>
                    <small class="text-muted"><%= preffered_address.first.state.name if preffered_address.first.state %></small>
                  </div>
                </li>
            </ul>
          <!-- Cart -->
 
        <!--Grid column-->


      <!--Grid row-->



<script>
  var form = document.querySelector('#payment-form');
  var client_token = "<%= @client_token %>";

  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
    paypal: {
      flow: 'vault'
    }
  }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }

        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
</script>
