<!-- Page Content -->
  <div class="container">

    <div class="row">

      

      <div class="col-lg-9">

        <div class="row">
          <% @products.each do |product| %>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <%= image_tag  product.avatar.variant(resize_to_limit: [400, 400]) , class:"card-img-top" rescue image_tag 'http://placehold.it/250x250' %>
                <div class="card-body">
                  <h6 class="card-title">
                    <a href="#"><%= product.name %></a>
                  </h6>
                  <h5><%= product.price %></h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                </div>
                <%= link_to "Edit", edit_product_path(product.id) %>
                <%= link_to 'Destroy', product_path(product.id),
                    data: {:confirm => 'Are you sure?'}, :method => :delete %>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
          <% end %> 

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->