<p id="notice"><%= notice %></p>

<div class="card" style="width: 20rem;">
   <%= image_tag  @product.avatar.variant(resize_to_limit: [300, 300]) , class:"card-img-top" rescue image_tag 'http://placehold.it/250x250' %>
  <div class="card-body">
    <h5 class="card-title"> Product Name: <%= @product.name %> </h5>
    <p class="card-text">  Product Description:  <%= @product.description %> </p>
    <p class="card-text">   Product Price: <%= @product.price %>  </p>
   <%= button_to "Add to cart", line_items_path(:product_id => @product.id), method: :post, :class => "btn btn-primary mb-2" %>
  </div>
</div>

