
<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>


  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/transactions/new"> Transaction <span class="sr-only">(current)</span></a>
          </li><li class="nav-item active">
            <a class="nav-link" href="/categories/new"> Add Category <span class="sr-only">(current)</span></a>
          </li>
          </li><li class="nav-item active">
            <a class="nav-link" href="/products/new"> Add Product <span class="sr-only">(current)</span></a>
          </li>


        </ul>
        <span class="navbar-text">
          <% if user_signed_in? %>  
            Total Items on my cart <strong><%= link_to 'Cart', cart_path(@current_cart,:product_id => params["product_id"]), :class => 'navbar-link' %></strong>.
            <%= link_to 'Edit profile', edit_profile_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </span>
      </div>
    </nav>
    <div class="container">
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
       <%= render partial: "categories/index" %> 
        </br>
      <%= yield %>
      
    </div>  
  </body>
</html>
