
<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>


  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
       
          <ul class="navbar-nav mr-auto">
             <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/transactions/new"> Transaction <span class="sr-only">(current)</span></a>
             <% if !can? :create, @category %>  
                </li><li class="nav-item active">
                  <a class="nav-link" href="/categories/new"> Add Category <span class="sr-only">(current)</span></a>
                </li>
            <% end %>
              <% if !can? :create, @category %>  
                </li><li class="nav-item active">
                  <a class="nav-link" href="/products/new"> Add Product <span class="sr-only">(current)</span></a>
                </li>
              <% end %>
            

           <% end %>

          </ul>
       
        <span class="navbar-text">
          <% if user_signed_in? %>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
            Total Items on my cart <strong>
              <%#= link_to 'Cart', cart_path(@current_cart), :class => 'navbar-link' %>
              <%= link_to 'Cart', cart_path(@current_cart,:product_id => params["product_id"]), :class => 'navbar-link' %></strong>.
            <%= link_to 'Edit profile', edit_profile_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> |
            <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>

          <% end %>
        </span>
      </div>
    </nav>
    <div class="container">
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
       <%= render partial: "categories/index" %> 
        </br>
      <%= yield %>
      
    </div>  
  </body>
</html>
